[Desktop Entry]
Type=Application
Name=AzPainter
Exec=azpainter %f
Icon=azpainter
Terminal=false
Categories=Graphics;
MimeType=application/x-azpainter-apd;
StartupNotify=true
